page-contact {

    .img-responsive {
        width:auto !important;
        height:30px !important;
    }

    ion-input{
    	color: #fff!important;
    	background-color: #000!important;
        border-radius: 5px;
        padding: 0px 5px;
    }

    .centerform{
    	width: 200px;
    	margin: 0px calc(50% - 100px);
    }
    .sideform{
    	width: calc(50% - 100px);
    }

}
