page-notification {

    .img-responsive {
        width:auto !important;
        height:30px !important;
    }

    .item-inner {
    	border-bottom: none!important;
    }

    .checkbox-md + .item-inner ion-label {
    	padding: 0px!important;
    	margin: 0px!important;
	}


	.readButton{
		background-color: #5494f5;
	}
	.trashButton{
		background-color: #fc1054;
	}
	.readButton, .trashButton{
		margin-top: 14px!important;
	}
	ion-list-header{
		background-color: #555!important;
		color: #fff!important;
		padding: 0px;
		border: none!important;
	}


	#selectAll .checkbox-icon{
		width: 30px!important;
		height: 30px!important;
		
		.checkbox-inner{
			left: 8px;
			top: 3px;
			width: 9px!important;
			height: 18px!important;
		}
	}

	#selectAll {
		
		margin: 0px 5px 0px 0px;

		.checkbox-icon .checkbox-checked{
			background-color: #888!important;
		}
	}


	.searchbar {
		float: right;
		width: calc(100% - 95px);
	}

	.grid, .col {
		padding: 0px!important;
	}
	.ontoolbar{
		padding: 0px 0px 0px 10px;
	}
}
