page-notification {

    .img-responsive {
        width:auto !important;
        height:30px !important;
    }

    .item-inner {
    	border-bottom: none!important;
    }

    .checkbox-md + .item-inner ion-label {
    	padding: 0px!important;
    	margin: 0px!important;
	}

	.readButton{
		background-color: #5494f5;
	}
	.trashButton{
		background-color: #fc1054;
	}

	#selectAll .checkbox-icon{
		width: 30px!important;
		height: 30px!important;
		
		.checkbox-inner{
			left: 8px;
			top: 3px;
			width: 9px!important;
			height: 18px!important;
		}
	}

	#selectAll {
		
		margin: 0px 5px 0px 0px;

		.checkbox-icon .checkbox-checked{
			background-color: #888!important;
		}
	}

}
