page-configuration {

	.img-responsive {
        width:auto !important;
        height:30px !important;
	}
	
	ion-list-header{
		background-color: #555!important;
		color: #fff!important;
		padding: 0px;
		border: none!important;
	}
	ion-item ion-label{
		color: #999999!important;
	}
}
